.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b0aaaa;
  background-color:transparent;
  /* scrollbar-track-color: transparent; */
  scrollbar-thumb-color: transparent;
  /* scrollbar-thumb-border-radius: 15%; */
  /* scrollbar-button: none; */
}
.custom-scrollbar::-webkit-scrollbar 
{ 
  width: 16px; 
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track-piece 
{ 
  background-color:transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb 
{  
  background: #b0aaaa;
  border-radius: 15%;
}

.custom-scrollbar::-webkit-scrollbar-button
{
  display: none;
}
  @media (max-width: 800px){
.container {
  max-width: 910px;
}
  }


    @media (max-width: 400px){
.container {
  max-width: 687px;
}
    }

      @media (max-width: 1536px){
.container {
  max-width: 1600px;
}
      }

